@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror {
  min-height: 100%;
  padding-top: 1rem;
  outline: none !important;
  user-select: text !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.tiptap img {
  max-width: 100%;
  height: auto;
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로스크롤 제거 */
}

* {
  box-sizing: border-box;
}

/* tiptap 내부 전체 선택 방지 */
.no-select * {
  user-select: none !important;
  -webkit-user-select: none !important;
}