@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.ProseMirror:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ProseMirror {
  min-height: 100%;
  padding-top: 1rem;
  outline: none !important;
  user-select: text !important;
  white-space: pre-wrap;
  word-break: break-word;
}